body{
  background-color: #dddbfd;
  font-family: "Trebuchet MS";

}

#title {
  background-color: #E8E8E8;
  color: #404040;
  padding: 2%;
  font-family: "Trebuchet MS";
}

.login-block {
  margin: 5%;
}

.tabContainer {
  margin-top: 2%;
}

.popUpButtons {
    margin-top: 2%;
}

#projectsContainer {
  margin: 1%;

}

.collapse{
  margin: 2%;
}

.projectButton {
  text-align: center;
}

.formItems {
  margin-top: 0.5%;
  border: solid red;
}
